


header {
  
background-image: url("img/imagewood.png");
      background-size: cover;
    /* background-position: top;  */
      height: 00px;;
      display: block;
}

h1 {
  text-align: center;
}

body {
  text-align: center;
}